body { 
    overflow:hidden;
    height:100vh;
    width:100vw;
    background: #FFED67;
    --c1: #FF3A90;
    --c2: #FF3A90;
    background-image: -webkit-linear-gradient(top, var(--c1), var(--c2));
    background-image: -moz-linear-gradient(top, var(--c1), var(--c2));
    background-image: -o-linear-gradient(top, var(--c1), var(--c2));
    background-image: -ms-linear-gradient(top, var(--c1), var(--c2));
    background-image: linear-gradient(top, var(--c1), var(--c2));
}
  
.active {
  animation: shake 200ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }
  50% {
    transform: translate(-6px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.btn-secondary {
  color: #eeff55;
  background-color: #FF3A90;
  border-color: #9b9b9b
}


  